.Countdown {
    display: flex;
    font-family: sans-serif;
    text-align: center;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: center;
    align-items: center;
    resize: horizontal;
}

.time {
    font-size: 25px;
}
